<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Password required</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div id="toptitle">
      <h1>Enter the password for this project</h1>
    </div>

    <form action="/postauth?action={{action}}&subid={{subid}}" method="post" style="text-align: center;">
      <label for="passwd">Password:</label>
      <input type="password" id="passwd", name="passwd" required="required">
      <!-- prettier-disable -->
      <textarea rows="1" cols="1" style="display:none;" id="codebox" name="codebox">{{codebox}}</textarea>

      <br><br>

      <button type="submit">Submit!</button>
      <a href="/">
        <button type="button">Cancel</button>
      </a>
    </form>

  </body>
</html>
