<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <title>Online Scheme interpreter</title>
  </head>
  <body>
    <div id="toptitle">
      <h1>Welcome to the free online<br>Scheme interpreter!</h1>
      <p>More info: <a href="https://en.wikipedia.org/wiki/Scheme_(programming_language)">About Scheme</a></p>
      <p>Go to the <a href="/forum">forum</a></p>
      <p class="disclaimer" style="width: 50%; text-align: justify;">This
      interpreter is meant to be for batch-proccessing, which is why the input
      command has not been implemented. This is a feature, not a bug.</p>

      <br><br>
    </div>

    <div id="submitbtn">
      <a href="/submit" class="button">Upload your submisison<a/>
    </div>
    <p class="disclaimer">Disclaimer: all code put here is available to everyone.</p>
    <br><br>

    <!-- table of submissions -->

    <table id="submissions">
      <tr>
        <th colspan=3 style="background: gray;">Past submissions</th>
      </tr>
      <tr>
        <th>Submission ID</th>
        <th>Author</th>
        <th>Operations</th>
      </tr>
      {% for k, v in submissions.items() %}
      <tr>
        <td><a href="/getsub?subid={{k}}">{{k}}</a></th>
        <td>{{v["author"]}}</td>
        <td style="width: 0;">
          <a class="nounderl" href="/auth?action=delete&subid={{k}}">🗑️</a>
          &nbsp;&nbsp;
          <a class="nounderl" href="/editsub?subid={{k}}">✏️ </a>
        </td>
      </tr>
      {% endfor %}
    </table>

  </body>
</html>
