{% extends "template.html" %}
{% block content %}
<div class="container">

  {% if current_user.is_authenticated %}
    <h3>Hi {{ current_user.username }}!</h3>
  {% endif %}


  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Post Name</th>
      <th scope="col">Author</th>
      <th scope="col">Date</th>
      <th scope="col">Tags</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for task in range(tasks|length) %}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td>{{tasks[task].name}}</td>
      <td>{{users[task]}}</td>
      <td>{{tasks[task].tdate}}</td>
      <td>{% for tag in tasks[task].tags %}
            {% if loop.index != loop.length %}
              {{tag.name}}, 
            {% else %}
              {{tag.name}}
            {% endif %}
          {% endfor %}
      </td>
      <td><a href="/postpage/{{tasks[task].id}}">Go to post</a></td>
      
    </tr>
    {% endfor %}
    
  
  </tbody>
</table>
  <form action="{{url_for("wtform")}}">
  <input type="Submit" value="Add a new post" class="btn btn-primary" >
  </form>

</div>
{% endblock %}