{% extends "template.html" %}
{% block content %}
<div class="container">

  {% if current_user.is_authenticated %}
    <h3>Hi {{ current_user.username }}!</h3>
  {% endif %}

  <h3>{{post.name}}</h3>

  <table>
    <tr>
      <th>Date posted: {{post.tdate}}</th>
    </tr>
    <tr>
      <th>Author: {{username}}</th>
    </tr>
    <tr>
      <th>Tags: 
         {% for tag in post.tags %}
         {{tag.name}}
         {% endfor %}
      </th>
    </tr>
  </table>
  <p>{{post.description}}</p>
  
  {% for reply in range(post.replies|length) %}
  <b>{{user_replies[reply]}}:</b> {{post.replies[reply].reply_content}}
  <br>
  {% endfor %}

  <form action="/replyform/{{post.id}}">
  <input type="Submit" value="Add a new reply" class="btn btn-primary" >
  </form>

{% endblock %}
