{% extends "template.html" %}
{% block styles %}
{{super()}}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">

<link rel="stylesheet"
      href="{{url_for('static', filename='styles.css')}}">
{% endblock %}

{% block content %}
<div class="container">
  {% if current_user %}
    <h2>Hello {{current_user.username}}!</h2>
  {% endif %}
  <form method="POST">
    {{ reply.csrf_token }}
    {{ reply.reply_content.label }}<br> {{ reply.reply_content(class="form-control") }} <br>
    <input type="submit" value="Save Reply" class="btn btn-primary">
</form>
</div>
{% endblock %}